.front-page__presentation{
    height: 60vh;
    /* border: 5px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.front-page h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-family: 'Allison', cursive;
    color: white;
    text-shadow: rgb(0, 0, 0) -2px -3px 5px;
}

.front-page p {
    font-size: 1.5rem;
    color: white;
    text-shadow: rgb(0, 0, 0) -2px -3px 5px;
}
    


@media screen and (max-width: 1000px) {
    .front-page h2{
        font-size: 10rem;
    }
    .front-page p{
        font-size: 2rem;
    }
  
  }