.title {
    font-family: 'Allison', cursive;
    font-size: 10rem;
    border: 2px red solid;
    text-align: center;

}

h2 {
    font-family: 'Noto Serif Georgian', serif;
}

.menu-top {
    border: 2px solid red;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 1px white solid;
    
}

.menu-top ul {
    display: flex;
    justify-content: center;
    
}

.menu-top a {
    margin: 1rem;
    text-decoration: none;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-top a:hover{
    color: #ff5500;
}
/* @media screen and (max-width: 600px) {
    .navbar-top {
        display: none;
    }
} */