.title {
    font-family: 'Allison', cursive;
    font-size: 10rem;
    /* border: 2px red solid; */
    text-align: center;
    margin: 3rem;
    color: #ae745c;
    text-shadow: rgb(0, 0, 0) -2px -3px 5px;

}

header {
    display: initial;
    padding-top: 5rem;
}

.menu-top {
    
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.menu-top ul {
    display: flex;
    justify-content: center;
}

.menu-top a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0 1rem 0 1rem;

}

.menu-top li {
    display: inline-block;
}

.menu-top li {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #444444;
    text-transform: uppercase;
}

.menu-top li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .4s ease, background-color .5s ease;
}

.menu-top li:hover:after {
    width: 80%;
    background: #444;
}


@media screen and (max-width: 1000px) {
    .menu-top a {
        font-size: 0.8rem;
        margin: 0.3rem;
    }
    .title {
        font-size: 3.5rem;
    }
  }