.card{
    border: 5px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 100vh;
    


}
.card__image{
    
}