.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-card a {
    text-decoration: none;
}

.card {
    scale: 1;
    transition-property: all;
    transition-duration: 0.25s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;

}

.card:hover {
       transform: scale(1.06);

}

@media screen and (max-width: 1000px) {
    .card {
        max-width: 100%;
    }
}