.single {
    text-align: center;
}
/* .single img {
    scale: 100vh;
} */
.imageEnAvant{
    max-height: 90vh;
    margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
    .imageEnAvant {
        max-width: 90%;
        max-height: 90%;
    }
}